  @media (max-width: 352px) {
   #nice-mode-div {
     width: 150px !important;
   }
  } 
 
  @media (max-width: 766px) {
    .tp_posted {
      position: absolute;
      float: right;
      top: 17px;
      right: 10px;
    }
    .tp_course {
      position: absolute;
      float: right;
      top: 0;
      right: 10px;
    }

  }

.cpratings-bg {
  /*background-color: #d0cece1a;
  background-color: #18dcff0d;*/
  background-color: #0adaff05;
}


.post-div {
  border-top-style: solid;
  padding-top: 7px;
  border-bottom-width: 1px;
  padding-bottom: 13px;
  border-top-width: 1px;
  border-top-color: #6e6ebf87;
  border-radius: 2px;
  margin-bottom: 38px;
}

#mode-label {
  display:  inline-block;
  margin-bottom: 0px;
  font-size:  11pt;
  margin-top: 17px;
}
